data/
gmsh/
Notes/
testData/
tempFiles/
output/*/
Output/*/
*.msh
*.stp
*.step
*.asv
*.pyc
*.stl
*.mat
*.avi
*.mp4
*.db
*.fig
*.pos
*.png
*.inp
*.dcm
*.vtk
Dict_*.txt
output_*.txt
Output_*.txt
Centrality_*.txt
Dict_*.txt
BoneMat*.txt
Abqs*.py
*Euromech*.py