data/
gmsh/
Notes/
testData/
tempFiles/
Output/*/
!Output/Analysis
Output/Analysis/.R*
*.msh
*.stp
*.step
*.asv
*.pyc
*.stl
*.mat
*.avi
*.mp4
*.db
*.fig
*.pos
*.png
*.inp
*.dcm
*.vtk
Dict_*.txt
output_*.txt
Output_*.txt
Output/Out*Centrality.txt
Dict_*.txt
BoneMat*.txt
*Euromech*.py